<p id="notice"><%= notice %></p>

Profile Page: <strong> <%= @user.fullname %></strong>
  (<strong><%= @user.role.name %></strong>)

<% if signed_in? && current_user == @user && @user.admin? %>
  <%= render 'patient_page', user: @user %>
  <%= render 'doctor_page', user: @user  %>
<% elsif @user.patient? %>
  <%= render 'patient_page', user: @user %>
<% else %>
  <%= render 'doctor_page', user: @user  %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

